@{
    ViewData["Title"] = "Home";
}


<div class="container">
    <div class="row offset-xl-1 justify-content-center">
        <div class="col-xl-8 col-md-8 top-buffer">
            <h2 class="welkomHeader">Welkom bij JPS Retail Services</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-8 col-md-8">
            <b class="ball"></b>
        </div>
    </div>
</div>

<section class="welkomTekstContainer">
    <div class="container-fluid">
        <div class="row mt-3 mb-4 welkomTekst justify-content-md-center">
            <div class="col-6">
                <p>
                    Een nieuwe vastgoed organisatie, gespecialiseerd in de verhuur van winkelruimten, retail
                    adviezen en
                    commercieel vastgoedbeheer.<br>
                    Daarnaast zijn wij inzetbaar als interim commercieel Retail manager.<br><br>
                    Betrokkenheid bij uw project staat bij ons hoog in het vaandel en alles met het doel om de
                    waarde
                    van uw winkelvastgoed te verhogen.<br><br>
                    Initiatiefnemer is Jan Peter Stuurstraat. Na 25 jaar werkervaring bij WPM Retail en Colliers
                    International worden kennis, enthousiasme, creativiteit en gedrevenheid gebundeld om commerciële
                    Retail vraagstukken succesvol af te sluiten.
                    Door gebruik te maken van een uitgebreid opgebouwd relatienetwerk, kunnen we u optimaal en
                    professioneel van dienst zijn.<br><br>
                    Wij nodigen u uit om contact met ons op te nemen.
                </p>
            </div>
            <div class="col-3 mt-4 align-items-center">
                <span class="profile-pic-circle">
                    <img type="image/jpg" src="~/images/p3.png">
                </span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid servicesContainer">
        <div class=" serviceElements">
            <h1 class="servicesHeader text-center mt-3">SERVICES</h1>
            <div class="row mb-4 justify-content-md-center">
                <div class="col-3">
                    <b class="ballServices text-center"></b>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <img type="image/jpg" src="~/images/Services/top-edit.jpg">
                </div>
                <div class="col mt-5 ml-5">
                    <h1>Verhuur van winkels</h1>
                    <p>
                        Iedere verhuuropdracht is anders en vraagt om een specifieke oplossingsbenadering. Afgestemd op
                        de mogelijkheden van het winkelvastgoed, marktpotentieel, omgevingsfactoren en de wens van de
                        klant, zoeken wij de huurder(s) en dragen wij zorg voor de contractuele afhandeling.
                    </p>
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col mt-4">
                    <h1>Retailadvies</h1>
                    <p>
                        Geen enkel winkelcentrum of winkelgebied is hetzelfde. Aanpassingen zijn continue nodig om up to
                        date te blijven en de consumenten te binden. Dit kan op grote schaal plaatsvinden zoals bij
                        herontwikkeling of relocatie. Ook kleinere fysieke ingrepen zoals re-branchering, herverkaveling
                        of aanpassing van routing kunnen de waarde van uw vastgoed verhogen.
                    </p>
                </div>
                <div class="col ml-5">
                    <img type="image/jpg" src="~/images/Services/middle-edit.jpg">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <img type="image/jpg" src="~/images/Services/bottom-edit.jpeg">
                </div>
                <div class="col ml-5 mt-5">
                    <h1>Commercieel interimmanager</h1>
                    <p>
                        Heeft u het zelf te druk om met uw huurders te overleggen? Is uw verhuurmanager tijdelijk uit de
                        running of heeft u intern tijdelijk een extra verhuurmanager nodig om bijvoorbeeld een
                        renovatie-of verhuurproject op tijd af te ronden?
                        Wij kunnen u mogelijk van dienst zijn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid service2Container">
        <div class="row mt-3 mb-3">
            <div class="col">
                <p>
                    Tevens kunnen wij u, in samenwerking met andere professionele partners, de volgende diensten
                    aanbieden om u te ondersteunen of te ontzorgen:
                </p>
            </div>
            <div class="col">
                <h5>Commercieel vastgoed beheer</h5>
                <p>
                    Wij nemen de dagelijkse zorg rondom uw vastgoed uit handen en spreken dan ook graag van
                    totaalbeheer.
                    De werkzaamheden die wij hieronder verstaan zijn het commercieel beheer, financieel beheer,
                    technisch beheer (inclusief 24/7 storingsdienst), centrummanagement en huismeesterdiensten.
                </p>
                <h5>Aan/verkoop begeleiding</h5>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <h1 class="nieuwsHeader text-center mt-4 ml-5">Nieuws Highlights</h1>
        <div class="row mb-1 justify-content-md-center">
            <div class="col-5">
                <b class="ballNieuws"></b>
            </div>
        </div>
    </div>
</section>

<section class="nieuwsFluid">
    <div class="container-fluid nieuwsFluid mt-4 mb-4">
        <div class="row">
            <div class="col-6">
                <img type="image/jpg" src="~/images/Homepage Highlight/test.png">
            </div>
            <div class="col-5 my-auto">
                <h3>Blond by Fashion winkel aan de Raadhuisstraat 3bII</h3>
            </div>
        </div>
    </div>
</section>